@font-face {
    font-family: BOLD_FONT_CAPITALS_ONLY;
    src: url("../font/BOLD_FONT_CAPITALS_ONLY.ttf");
}
@font-face {
    font-family: Crayon_Print;
    src: url("../font/Crayon_Print.ttf");
}


body{
    text-align: center;
    background-image: url("../image/Background_Purple_Phantasm.png");
    background-size: cover;     
}

.logo_purple {
    box-sizing: border-box;
    transition: none;
    border-radius: 0 !important;
    max-width: 100%;
    max-height: auto;
    object-fit: scale-down;
    vertical-align: top;

}

h1{
    display: block;
    position: relative;
    background-image: linear-gradient(45deg, #8886B3 0%, #76477A 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent !important;
    font-family: Crayon_Print;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BOLD_FONT_CAPITALS_ONLY;
  }
  .content {
    background: white;
    border-radius: 3px;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  .container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px ;
    border-radius: 5px;
  }
  
  .container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
  }
  
  @media only screen and (max-width: 769px){
      .container .box{
     flex-direction: column;
    }
  
  .container .box .dream{
    width: 100%;
  }
  
  
  }
  
  @media only screen and (max-width: 643px){
  .container .heading{
    width: 100%;
  }
  .container .heading h3{
    font-size: 1em;
  
  }
  
  
  
  
  }
